{% extends 'blog/base.html' %} {% block content %}
<div
  class="container"
  style="
    background: white;
    padding: 20px;
    margin-top: 10px;
    border-radius: 20px;
  "
>
  <h1>Blog About</h1>
  <hr />
  <p>
    Welcome to my bloggy! My name is Aashish Singh Bisht and I’m a Engineer. I
    created this blog to share my thoughts, opinions, and experiences on various
    topics that interest me, such as Software development, anime, basketball and
    blues. If you’re looking for fun, you’ll find something here that suits your
    taste. I hope you enjoy reading my posts and contact me if you have any
    questions or feedback. Thank you for visiting and happy reading!
  </p>
</div>
{% endblock content %}
